@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
    }
    body {
      background-color: #1c1c1c;
    }

    @keyframes water{
        0% {background-color: #274bc4;}
        50% {background-color: #33D7FF;}
        100% {background-color: #274bc4;}
    }
    @keyframes move {
        0% {left:0; top:-100px;}
        100% {left:0; top:500px;}
    }
    @keyframes move2 {
        0% {left:300px; bottom:-500px;}
        100% {left:300px; bottom:500px;}
    }
    div.content {
        color: #FFFFFF;
        font-family: 'League Spartan';
        font-size: 300%;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    div.moving {
        animation-name: move;
        position: relative;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
     }
     div.water {
       animation-name: water;
       animation-duration: 5s;
       animation-iteration-count: infinite;
       overflow:hidden;
       box-shadow: 0 0 0 5px #efefef,
	      0 0 0 6px #dbd9d9,
	      0 0 0 11px #b7b5b5,
	      0 0 0 17px #919191,
	      0 0 0 25px #777777,
	      0 0 0 34px #474747;
       width: 580px;
       height: 565px;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
     }
     div.moving2 {
         animation-name: move2;
         position: relative;
         animation-duration: 5s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
      }
     .button {
         background-color: #9ca9d3;
         font-family: 'League Spartan';
             border: none;
             color: white;
             padding: 10px 10px;
             text-align: center;
             display: inline-block;
             font-size: 24px;
     }
     .button:hover {
         background-color: #808aad;
     }
